<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="filter">
        <form method="GET">
            {{ filter.form.as_p }}
            <button type="submit">accept</button>
        </form>
    </div>
    <p>{{ object.user.username }} activities</p>
    <p>Общее количество устройств: {{ devices }}</p>
    <p>Средння длительность активностей данного пользователя: {{ duration }}</p>
    {% if last_sync %}
        <p>Последняя синхронизация устройства: {{ last_sync }}</p>
    {% else %}
        <p>Последняя синхронизация юзера: {{ last_sync_user }}</p>
    {% endif %}
    <div class="activities">
        {% for obj in filter.qs %}
            {{ obj.start }} {{ obj.device.name }}<br>
        {% endfor %}
    </div>
</body>
</html>